@use '../mixin' ;
@import '../variable';



.bg-80{
  background: $gradient-bg-80;
}

.bg-row{
  @include mixin.breakpoint($maxW: $breakpoint-lg){
    background: $Background-business-service;
  }

}

.bg{
  background: $Background-business-service;
}

.bg-bottom-50{

  @include mixin.breakpoint($minW : $breakpoint-xl){
    background: $gradient-bg-bottom-50;
  }

}

.bg-primary{
  background: linear-gradient(0deg, #FFFFFF 0%, #EDEEFD 101.47%);
}