@import '../mixin';

$font-family_1: Kanit;
$background-color_1: #FFF;

$balloon1-from-top: 55px;
$balloon1-from-top-ipad: 250px;
$balloon1-from-right-desktop: 230px;
$balloon1-from-right-tablet: 30px;

$balloon2-from-top: $balloon1-from-top+300px;
$balloon2-from-left-tablet: 15px;
$balloon2-from-right-tablet: 15px;
$balloon2-from-top-ipad: $balloon1-from-top-ipad+250px;

$balloon-3-1-from-left-tablet: 10px ;
$balloon-3-2-from-left-tablet: 255px ;
$balloon-3-3-from-left-tablet: 500px ;
$balloon3-from-top: $balloon2-from-top+300px;
$balloon3-from-top-ipad: $balloon2-from-top-ipad+250px;

$width-balloon-ipad: 370px;
$width-balloon-desktop: 460px;

.fakeBox{
  
  &Right{
    display: none;
    background-color: transparent;
    position: absolute;
    right: -350px;
    bottom: 0;
    width: 85px;
    height: 31px
  }
}

.balloon{
	position: absolute;
	width: 460px;
	height: 180px;
	border-radius: 90px;
}


.balloon1 {
  @extend .balloon;
	top: $balloon1-from-top;
	right: $balloon1-from-right-desktop;
	border: 5px solid #6853A3;

  &-logo-bg {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, -50%);
    text-align: center;
    width: auto;
    background-color: $background-color_1;
  }
  &-text {
    width: 100%;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translateY(-70%) translateX(-50%);
  }
  &-button {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-family: $font-family_1;
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: 0px;
    text-align: left;
  }
}


.balloon2{
  @extend .balloon;
  border: 5px solid #92C5F5;
  top: $balloon2-from-top;



  &-logo-bg{
    @extend .balloon1-logo-bg;
  }

  &-text{
    @extend .balloon1-text;
  }

  &-button{
    @extend .balloon1-button;
  }
}


.balloon3{ 
  position: absolute;
  width: 240px;
  height: 190px;
  top: $balloon3-from-top;
  left:  100px;

  border-radius: 30px;
  border: 5px solid #D9D3F2;
  flex-direction: column !important;


  &-logo-bg{
    @extend .balloon1-logo-bg;
    width: fit-content
  }

  &-text{
    @extend .balloon1-text;
  }

  &-button{
    @extend .balloon1-button;
  }
}



//468
@include mobile{
  .fakeBoxRight{
    display: block;
  }

  .balloon1{
    top: 50px !important;
    left: 59%;
    transform: unset; 
    width: 370px !important;
  }
  .balloon2{
    width: 310px !important;
    top: 310px !important;
    &.left{
      // background-color: red;
      left: 5px !important;
    }
    &.right{
      right: -340px !important;
    }
  }

  .balloon3{
    top: 580px !important;
    width: 200px !important;
    &.left{
      left: 12px !important;
    }
    &.center{
      left: 68% !important;
     transform: unset; 
      right: unset !important;
    }
    &.right{
      left: unset !important;
      right: -305px !important;
    }
  }
}



//768
@include ipad{

  .balloon1{
    top: $balloon1-from-top-ipad !important;
    left: 50%;
    transform: translateX(-50%);
    width: $width-balloon-ipad !important;
  }

  .balloon2{
    top: $balloon2-from-top-ipad !important;
    &.left{
      // background-color: red;
      left: 5px !important;
      width: $width-balloon-ipad !important;
    }
    &.right{
      right: 5px !important;
      width: $width-balloon-ipad !important;
    }
  }

  .balloon3{
    top: $balloon3-from-top-ipad !important;
    &.left{
      left: 5px !important;
    }
    &.center{
      left: 50% !important;
      transform: translateX(-50%);
      right: unset !important;
    }
    &.right{
      left: unset !important;
      right: 5px !important;
    }
  }
}

//992
@include tablet{
  .balloon1{
    top: $balloon1-from-top !important;
    left:unset !important;
    transform: unset !important;
    width: $width-balloon-desktop !important;
    right: $balloon1-from-right-tablet !important;
  }

  .balloon2{
    top: $balloon2-from-top !important;
    &.left{
      // background-color: red;
      left: $balloon2-from-left-tablet !important;
      width: $width-balloon-desktop !important;
    }
    &.right{
      right: $balloon2-from-right-tablet !important;
      width: $width-balloon-desktop !important;
    }
  }

  .balloon3{
    top: $balloon3-from-top !important;
    &.left{
      left: $balloon-3-1-from-left-tablet !important;
    }
    &.center{
      right: unset !important;
      transform: unset !important;
      left: $balloon-3-2-from-left-tablet !important;
    }
    &.right{
      left: $balloon-3-3-from-left-tablet !important;
      right: unset !important;
    }
  }

}
//1200
@include desktop{
  .balloon1{
    right: $balloon1-from-right-desktop !important;
  }

  .balloon2{
    &.left{
      left: 105px !important;
    }
  }

  .balloon3{
    &.left{
      left: -45px !important;
    }
    &.center{
      left: 200px !important;
    }
    &.right{
      left: 445px !important;
    }
  } 
}





