@import '../variable';

.border-bottom-gradient {
  border-bottom: 10px solid;
  border-image-slice: 1;
  border-width: 5px;
}

.border-gradient-purple {
  border-image-source: $gradient-border-purple;
}