@import '../variable';
@import '../mixin';
.btn{
  @include defaultFont;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  border:none;
  color: $Primary !important;
}

.btn-yellow{
  background-color: $Light-Blue !important;
}

.btn-balloon{
  height: 44px;
  width: 194px;
  left: 860px;
  top: 915px;
  border-radius: 22px;
  background: linear-gradient(270deg, #6C68A6 0%, #564979 100%);
  color: $White !important;
  &::after{
    flex:1;
    margin-left: 5px;
    color: $White !important;
    text-align: right;
  }
}
