
@import '../variable';
@import '../mixin';

.card-hori{
  display: flex;
  padding: 20px 0;
  cursor:default;

 //mobile
 @media (max-width: $breakpoint-lg){
  margin-top: 15px;
  border-bottom: 1px solid $gradient-cardHori-border-bottom;
  box-shadow: 2px 10px 14px 0px $boxShadow-cardHori;
  background: $gradient-cardHori;

  .left{
    flex: 0.2;
    text-align: center;
    align-self: center;
  }

  .center{
    flex: 0.6;
    text-align: left;
    span:nth-child(1){
      @include defaultFont;
      color: $Grey80;
      font-size: 18px;
      font-weight: 500;
      line-height: 24px;
      letter-spacing: 0px;
      text-align: left;
      display: block;
    }
  

  }
  .right{
    flex:0.2;
    display: flex;
    justify-content: center;
    align-items: center;
    
    .navigation{
      opacity: 1;
    }
  }
}

  //ipad , desktop
  @media (min-width: $breakpoint-lg) {
    border: 1px solid transparent;

    .left{
      flex: 0.3;
      text-align: center;
    }
  
    .center{
      flex: 0.4;
      display: flex;
      flex-direction: column;

    }
  
    .right{
      
      flex: 0.3;
      display: flex;
      justify-content: center;
      align-items: center;
  
      .navigation{
        opacity: 0;
        transition: opacity 0.5s ease-in-out;
        cursor: pointer;
      }
    }
  
    &:hover{
      border: 1px solid;
      border-image-source: linear-gradient(270deg, #E9ECF5 0%, #B1B6D7 100%);
      box-shadow: 2px 10px 14px 0px #002A5B24;
      background: $gradient-cardHori;
  
      .navigation{
        opacity: 1;
      }
    }
  }

   

}


.card-vertical{
  background-color: $White;
  display: flex;
  
  .left{

  }
  .right{
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: $White;

    @media (max-width:768px) {
     padding:10px 15px;
    }
  }

    @media (max-width:768px) {
    flex-direction: column;
  }
}