
@import '../variable';
@import '../mixin';
@import '../keyframes';


.courousel-container{
  position: relative;

  .swiper{
    // prev btn
    .swiper-button-prev{
      color: transparent;
      &::after{
        background-image: url('../images/left-courousel.png');
        background-repeat: no-repeat;
        background-position: center;
        transform: scale(1.4);
      }
      @include breakpoint($maxW: $breakpoint-sm){
        display: none;
      }
    }
    //next-btn
    .swiper-button-next{
      color: transparent;
      &::after{
        background-image: url('../images/right-courousel.png');
        background-repeat: no-repeat;
        background-position: center;
        transform: scale(1.4);
      }
      @include breakpoint($maxW: $breakpoint-sm){
        display: none;
      }
    }

    .img{
      position: relative;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      width: 100%;
      height: 600px;
      // padding-top: 56.25%;
      @include breakpoint($maxW: $breakpoint-sm){
        height: 400px;
      }
  
      .text-container{
        position: absolute;
        left: 50%;
        bottom: 111px;
        font-family: Timeless;
        text-align: left;
        color: #FFF;
        @include breakpoint($maxW: $breakpoint-sm){
          left: 0;
          right: 0;
          // text-align: center;
          // padding-left: 50%;
          margin-left: 25%;
          bottom: 85px;
         }
  
        .text-title1{
          
          font-size: 46px;
          font-weight: 700;
          line-height: 60px;
          letter-spacing: 3px;

          @include breakpoint($maxW: $breakpoint-sm){
            font-size: 30px; 
            line-height: 40px;

           }
        
        }
  
        .text-title2{
          font-size: 24px;
          font-weight: 700;
          line-height: 60px;
          letter-spacing: 0px;
          margin-top: 30px;
          @include breakpoint($maxW: $breakpoint-sm){
            font-size: 12px; 
            line-height: 25px;
           }
        }
  
  
        .text-title3{
          @include breakpoint($maxW: $breakpoint-sm){
            font-size: 10px; 
           }
          font-size: 20px;
          font-weight: 400;
          line-height: 24px;
          letter-spacing: 0px;
        
        }
      }
  
      .white-box{
        width: 666px;
        height: 60px;
        position: absolute;
        bottom: 0;
        right: 0;
        background-color: #FFF;



         
     

         @include breakpoint($minW: $breakpoint-sm,$maxW:$breakpoint-lg ){
          width: 300px;

        }

        @include breakpoint($maxW: $breakpoint-sm) {
          width: 176px;
          height: 30px; 
         }

   
      }
    }

    .pagination-container{
      position: absolute;
      left: 16px;
      bottom: 22px;
      width: 100%;
      display: flex;

      @include breakpoint($maxW: $breakpoint-sm) {
        bottom:5px;
        left: 20px;
      }

      //จัดตำแหน่ง fraction
      .swiper-pagination-fraction{
        font-family: Timeless;
        font-size: 12px;
        font-weight: 400;
        line-height: 14px;
        letter-spacing: 0px;
        text-align: center;
        color: #FFF;
        position: relative;
        z-index: 3;
        text-align: left;
        width: fit-content;
        vertical-align: middle;
        display: inline-block;
        vertical-align: middle;
        margin-left: 20px;
        margin-top: 8px;
        @include breakpoint($maxW: $breakpoint-sm) {
          margin-left: 10px;
          margin-top: 5px;
        }
      }
  
      //จัดตำแหน่ง progress
      .swiper-pagination{
        width: fit-content;
        position: relative;
        text-align: left;
        @include breakpoint($maxW: $breakpoint-sm) {
          width: 48px;
          height: 3px;
          background: rgba(231, 229, 255, .2);
        }
      }

      .swiper-pagination-progressbar-fill{
        background: rgba(231, 229, 255) ;
        z-index: 7000;
      }
    }

  


    //custom progress bullet
    .swiper-pagination-bullet{
      position: relative;
      width: 48px;
      // height: auto;
      text-align:left;
      border-radius: 0;
      opacity: 1;
      background: transparent;
      i{
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 5;
        width: 100%;
        height: 2px;
        background-color: #FFF;
        opacity: .35;
      }
      b{
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 2;
        width: 0%;
        height: 2px;
        background-color: #FFF;
      }
    }


    .swiper-pagination-bullet-active{
      background-color: transparent;
      b{
        animation-name: countingBar;
        animation-duration: 3s;
        animation-timing-function: ease-in;
        animation-iteration-count: 1;
        animation-direction: alternate;
        animation-fill-mode: forwards;
      }
    }

    @include countingBar;
  }
}