
//import
@import "../mixin";


//variable
$border-color: #615B99;
$border-width: 2px;
$border : $border-width solid $border-color;
$radius : 100px;
$top-curve-step1: 242px;
$top-curve-step2: 550px;

$curve-line-step1-height: 43.3px;
$step1-width: 520px;
$step1-height: 85px;

$curve-line-step2-height: 51.01%;



.curve-line{
  display: inline-block;
  margin: 0;
  padding: 0;
  height: 52%;
  width: 50%;
  border: $border;
}


.curve-step1-left{
  //กล่องคุม width,height และ Position
  padding: 0;
  position: absolute;
  width: 520px;
  height: 85px;
  top: $top-curve-step1;
  right: 460px;

  //กล่องคุมสี , ขอบ และ รูปร่าง

    //เส้นบน
    &::after{
      @include curve-line-step1-left-top($radius);
      @extend .curve-line;
    }

    //เส้นล่าง
    &::before{
      @include curve-line-step1-left-bottom($radius);
      @extend .curve-line;

    }
   
}
.curve-step1-right{
  //กล่องคุม width,height และ Position
  padding: 0;
  position: absolute;
  width: 220px;
  height: 85px;
  top: $top-curve-step1;
  right: 240px;

  //กล่องคุมสี , ขอบ และ รูปร่าง


    //เส้นบน
    &::after{
      @extend .curve-line;
      @include curve-line-step1-right-top($radius);
    }

    //เส้นล่าง
    &::before{
      @extend .curve-line;
      @include curve-line-step1-right-bottom($radius);
    }
   
}

.curve-step2-left{
  //กล่องคุม width,height และ Position
  padding: 0;
  position: absolute;
  width: 240px;
  height: 85px;
  top: $top-curve-step2;
  left: 90px;

  //กล่องคุมสี , ขอบ และ รูปร่าง
 

    //เส้นบน
    &::after{
      @extend .curve-line;
      @include curve-line-step2-top($radius);
    }

    //เส้นล่าง
    &::before{
      @extend .curve-line;
     @include curve-line-step2-bottom($radius);
    }
   
  
}

.curve-step2-center{
  //กล่องคุม width,height และ Position
  padding: 0;
  position: absolute;
  width: 240px;
  height: 85px;
  top: 550px;
  left: 211px;

  //center line
  &::after{
    content: "";
    position: absolute;
    border: 1px solid $border-color;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    height: 100%;
  }

}


.curve-step2-right{
  //กล่องคุม width,height และ Position
  padding: 0;
  position: absolute;
  width: 290px;
  height: 85px;
  top: 550px;
  left: 331px;

  //กล่องคุมสี , ขอบ และ รูปร่าง
 

    //เส้นบน
    &::after{
      @extend .curve-line;
      @include curve-line-step1-right-top($radius);

    }

    //เส้นล่าง
    &::before{
      @extend .curve-line;
      @include curve-line-step1-right-bottom($radius);

    }
   
  
}


//468
@include mobile{
  .curve-step1-left{
    width: 200px;
    height: 55px;
    top: 233px;
    right: -36px;
  }

  .curve-step1-right{
    width: 170px;
    height: 55px;
    top: 235px;
    right: -205px;
  }

  .curve-step2-left{
    width: 68px;
    height: 74px;
    top: 491px;
    left: 114px;
  }

  //change
  .curve-step2-right{
    width: 568px;
    height: 75px;
    top: 491px;
    left: 251px;
    &::after{
      left: -70px;
      width: calc(50% + 72px);
    }
  }

  //change
  .curve-step2-center{
    width: 235px;
    height: 36px;
    top: 528px;
    left: 228px;
  }

}


@include ipad{
  .curve-step1-left{
    width: 200px;
    height: 46px;
    top: 431px;
    right: 384px;
  }

  .curve-step1-right{
    width: 200px;
    height: 46px;
    top: 431px;
    right: 184px;
  }
  
  //change
  .curve-step2-left{
    width: 68px;
    height: 54px;
    top: 681px;
    left: 132px;
  }

  //change
  .curve-step2-right{
    width: 450px;
    height: 55px;
    top: 681px;
    left: 200px;
    &::after{
      left: 0;
      width: 50%;
    }
  }

  //change
  .curve-step2-center{
    width: 235px;
    height: 29px;
    top: 708px;
    left: 279px;
  }
}


@include tablet{
  .curve-step1-left{
    width: 520px;
    right: 260px;
    height: $step1-height;
    top: $top-curve-step1;
  }
  .curve-step1-right{
    width: 57px;
    right: 203px;
    height: $step1-height;
    top: $top-curve-step1;
  }

  .curve-step2-left{
    width: 160px;
    height: 85px;
    top: 550px;
    left: 90px;
  }

  .curve-step2-right{
    width: 370px;
    height: 85px;
    top: 550px;
    left: 250px;
  }

  .curve-step2-center{
    width: 240px;
    height: 47px;
    top: 592px;
    left: 269px;
  }

  
  
}

@include desktop{
  .curve-step1-left{
    width: 520px;
    right: 460px;
  }
  .curve-step1-right{
    width: 220px;
    right: 240px;
  }
  .curve-step2-left{
    width: 240px;
    left: 90px;
  }
  .curve-step2-right{
    width: 240px;
    left: 331px;
  }
  .curve-step2-center{
    height: 85px;
    top: 550px;
    width: 240px;
    left: 211px;
  }
}


