@import '../variable';

.dropdown-item{
  margin-top: .5rem;
  cursor: pointer;
  // white-space: normal;
  white-space: nowrap;
}

.dropdown-menu{
  border-radius: 0px;
  // min-width: 300px;
  max-width: 400px;
  font-family: Kanit;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color: #fff !important;

    a{
      //on focus
      &:focus{
        background-color: transparent !important;
        color: #000;
      }


      &:hover{
        background-color: transparent !important;
        color: gray !important;
      }
    }
}

.step2{
  //a
  .dropdown-toggle{
    display: flex;
    &:after{
      content: "\F282";
      font-family: "bootstrap-icons";
      color: $Primary;
      font-weight: 600;
      vertical-align: middle;
      margin-left: 20px;
      border: none !important;
      text-align: end;
      margin-left: auto;
      transition: .2s all ease;
    }
    &.rotate{
      &:after{
        transform: rotate(-180deg);
      }
    }
  }
}



.step3{
  margin-left: 1rem;
  border-left: 2px solid $Primary;
  flex-direction: column !important;
  padding-left: .2rem;
}
