
@import '../variable';
@import '../mixin';



.card-expand-container {
  display: flex;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  height: 700px;
  @media (max-width: $breakpoint-sm) {
    height: 300px;
  }

  .card-image {
    position: relative;
    overflow: hidden;
    margin: 0 2px;
    flex: 0.33333333333;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    /*16:9*/
    padding-top: 56.25%;
    // height: 400px;
    opacity: .85;
    //?transition
    transition: flex .3s ease-in;

      //! font
      .card-title{
        @include defaultFont;
        font-size: 24px;
        font-weight: 500;
        line-height: 36px;
        letter-spacing: 0px;
        text-align: left;
        color: #FFF;
        padding:0 1rem;
      }
  
      .card-description{
        display: inline;
        @include defaultFont;
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0px;
        text-align: left;
        color: #FFF;
        margin-top: 2px;
      }
  
      .card-nav{
        display: inline;
        width: 28px;
        height: 28px;
        background-color: $Light-Blue;
        margin-left: auto;
        align-self: center;
        border: 1px solid $Light-Blue;
        border-radius: 4px;
        text-align: center;
        .bi-arrow-right{

            color:  $Primary;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
        }
      }
  


      //!ยุบ
    .card-content{
      //? transform
      @include transform(translateY(-20px));
      
      @media (min-width:768px) and (max-width: 1400px) {
        @include transform(translateY(70px));
      }
  
      //*transition
      @include transition(transform .2s ease-in-out);

      .card-title{

        @include defaultFont;
        font-size: 20px;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0px;
        text-align: left;
      }

      .block-hidden-on-hover{
        //? transform
        @include transform(translateY(30px));
        //? opacity
        opacity: 0;
        //*transition
        @include transition(all 1s ease-in-out);
      }
      .text-hidden-on-hover{
        //? opacity
        opacity: 0;
        display: none;
       
      }
    }
  
    //!ขยาย
    &.active{
      flex: 1;
      opacity: 1;
      .card-content{
        //? transform
        @include transform(translateY(0px));
        height: auto;

        position: absolute;
        left: 0;
        right: 0;
        bottom: 30px;

        margin: { 
          left: auto;
          right: auto;
        }

        width: 80%;

        padding:20px 0;

        border: {
          bottom: 1px solid $White;
          width: 2px;
        }

        .card-title{
          padding: 0;
        }
        .block-hidden-on-hover{
        //? opacity
        opacity: 1;
        //? transform
        @include transform(translateY(0px));

        }

        .text-hidden-on-hover{
          opacity: 1;
          display: inline-block;
        }

      }

    }

    
    &::after{
      position: absolute;
      content: "";

      top: 0;
      bottom: 0;
      left: 0;
      right: 0;

      background: $gradient-cardExpand-overlay;
      z-index: -1;
    }
  }
}





.card-expand-mobile{

  width: 100%;

  margin: {
    left: unset;
    right: unset;
  }

  .card-image{
    flex:1;
    // padding-top: 100%;
    .card-content{

      padding:12px 12px;
      width: 100%;

      position: absolute;
      bottom: 10px;
      left: 0;

      @include transform(translateY(0px));

      @include transition(none);
      

      .card-nav{
        margin-top: auto;
      }

      .card-title{
        @include defaultFont;
        font-size: 20px;
        font-weight: 500;
        line-height: 30px;
        letter-spacing: 0px;
        text-align: left;
        padding:0;
      }

      .card-description{
        @include defaultFont;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0px;
        text-align: left;

      }

      .block-hidden-on-hover {
        @include transform(translateY(0px));
        opacity: 1;
        transition: none;
        border-bottom: 1px solid $White;
        border-width: 2px;
        padding-bottom: 10px;

        .card-description{
          // flex: 0.85;
        }

        .card-nav{
          // flex: 0.15;
          // width: 30px;
          // height: 30px;
          margin-bottom: auto;
          min-width: 30px;
        }
      }
    }


  }
}


.swiper-card-expand-mobile{
  overflow:hidden !important;
}