@import '../variable';


.footer-container{
  font-family: 'Tahoma';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  .footer-top{
    padding: $padding-nav;
    color: $Primary;
    overflow: hidden;
    background-color: #F4F4F8;
    .footer-logo{

      position: relative;
      margin-right: 1rem;
      padding-right: 1rem;
    
    }

    .text-address{
      position: relative;
      &:before{
        content: url('../images/Line.png');
        position: absolute;
        height: 300px;
        top: -40px;
        left: -1rem;
        color: #DEE1EA;
        @media (max-width:568px) {
          display: none;
        }
      }
    }
  }
  .footer-copyright{
    padding:$padding-nav;
    color: #F4F4F8;
    background-color: $Primary;
  }

  .footer-text-kkp-call-center{
    color: #9385B8;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;


  }

  .footer-text-contact{
    color: $Black;
    font-size: 18px;
    line-height: 22px;
  }
  //ปิด Contact กรณ๊ความกว้าง = 
  @media (min-width:576px) and (max-width:835px) {
    .footer-text-contact,.footer-text-kkp-call-center{
      display: none;
    }
  }
}

//เส้นกั้น footer
.vl {
  border-left: 2px solid #DEE1EA;
  height: 100%;
}