@import '../variable';
@import '../mixin';

.hori-under-row{
  position: relative;
  padding: 0;
  
  @media(max-width: $breakpoint-md){
    height: 50px;
  }

  @media (min-width: $breakpoint-lg) {
    height: 100px;
    overflow: hidden;
  }


  &::after{
    position: absolute;
    bottom: 40%;

    @media(max-width: $breakpoint-md){
      content: url('../images/Line-mobile.png');
      left: 50%;
      @include transform(translateX(-50%));
    }

    @media (min-width: $breakpoint-lg) {
      content: url('../images/hori-under-row.png');
      left: -95px;
    }

    @media (min-width: $breakpoint-xl) {
      content: url('../images/hori-under-row.png');
      left: 50%;
      @include transform(translateX(-50%));
    }
  }

}


.hori-under{
  position: relative;
  &::after{
    content: url('../images/Line\ 762.png');
    position: absolute;
    @media(max-width:$breakpoint-md){
      bottom: -30px;
      left: 15px;
      transform: scale(1.2);
    }

    @media(min-width:$breakpoint-md) and (max-width:$breakpoint-lg){
      bottom: -30px;
      left: 15px;
      transform: scale(1.2);

    }

    @media (min-width:$breakpoint-lg) {
      bottom: -30px;
      left: 15px;
      transform: scale(1.2);
    }
  }

  margin-bottom: 2rem;
}