@import '../variable';
@import '../mixin';

.img-content{
  padding-top: 85%; 
  height: 100%;
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;
  text-align: left;
  @media (max-width: $breakpoint-sm) {
    background-position: center;
    background-size: cover;
  }
  position: relative;
}



.img11{
  width: 295px;
  height: 360px;
  background: {
    repeat: no-repeat;
    position: center;
    size: contain;
  }
  @media (max-width: $breakpoint-md) {
    margin: {
      left: auto;
      right: auto;
    }
    width: 100%;
    background-size: cover;
  }
}

.img12{
  position: relative;
  cursor: pointer;
  padding-top: 86.3%;
  width: 100%;
  background: {
    repeat: no-repeat;
    position: center;
    size: cover;

  }

  .text-container{
    position: absolute;
    bottom: 25px;
    left: 25px;
    .text{
      &-date{
        color:#FFF;
        //styleName: Body M-medium;
        @include defaultFont;
        font-size: 16px;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: 0px;
        text-align: left;
      }
      &-context{
        color: $White;
        //styleName: H4-semi;
        @include defaultFont;
        font-size: 20px;
        font-weight: 600;
        line-height: 26px;
        letter-spacing: 0px;
        text-align: left;
        margin-top: 15px;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
      }
  
      &-readmore{
        color:#FFF;
      //styleName: Body M-medium; 
      @include defaultFont;
      font-size: 16px;
      font-weight: 500;
      line-height: 20px;
      letter-spacing: 0px;
      text-align: left;
      margin-top: 20px;
      }
    }
  }
}