@import '../variable';

//padding
$padding-nav: .5rem 1rem; 
$padding-li-lr: 15px;
$padding-li-tb: 20px;

$padding-left-ul-lv1: 0px;
$padding-left-ul-lv23: 40px;
$padding-navlink:15px;
$height-line:2px;


body {
  &.openSidebar{
    overflow-y:hidden;
  }
}

.sidebar {
  position: fixed;
  overflow:auto;
  top: 0px;
  left: 0px;
  // inset: 0; 
  z-index: 3000;
  height: 100%;
  width: 100vw;
  background: #fff;
  //ปิดการ scroll ทั้งหมด
  overflow: hidden;

  transition:transform .2s ease-out;
  //hide
  transform: translateY(-100%);
  // opacity: 0;

  .sidebar-header{
    font-family: Kanit;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
    transition: background  1s ease;

    &.sticky-top{
      background-color: #F4F4F8;
    }

   

    ul{
      padding-left: $padding-li-lr;
      padding-right: $padding-li-lr;
      padding-top: 16px;
      padding-bottom: 16px;
      margin-bottom: 0 !important;

      list-style: none;
      button{
        border: none;
        background-color: transparent;
      }
      li{
          margin-top: auto;
          margin-bottom: auto;
        //ตัวเปลื่ยนภาษา
        .nav-link.dropdown-toggle{
          padding-left: 0;
          color: #000;
          &:after{
          //ทำให้ปุ่มไปอยู่ด้านขวาโดยการใช้ position right
          content: "\F282";
          font-family: "bootstrap-icons";
          color: $Primary;
          font-weight: 600;
          vertical-align: middle;

            border: none!important;
            // content: url('../images/Down.png');
            // vertical-align: 0; 
          }
        }
        //ปุ่มปิด
        .close-btn{
          padding-right: 0;
        }

        
      }
    }
  }

  //content
  .sidebar-content{
    font-family: Kanit;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;    
    overflow: scroll;
    height: 100%;
    .navbar-nav{
      &.step2,.step3{
        .nav-item{
          padding-right: 0px;
        }
      }

      &.step3{
        margin-top: 1rem;
      }

      &.step3{
        border-left: 1px solid #756897;
        border-width: $height-line;

        .nav-item{
          padding: 15px 15px;
          .nav-link{
            padding: 0;
          }
        }
      }

      .nav-item{ 
        //li
        padding:$padding-li-tb $padding-li-lr;
        &.active{
          background-color: #F4F4F8;
             //ขีดเส้นใต้ tag a ตัวแรก หาก active
              .lv1{
                padding-top: 10px !important;
                padding-bottom: 10px !important;
                &::before{
                  content: "";
                  position: absolute;
                  height: $height-line;
                  top: 100%;
                  left: 0;
                  right: $padding-navlink;
                  // width: calc(100%-15px);
                  width: 100%;
                  background-color: $Primary;
                }
              }

             
        }

        //rotate nav-link ปุ่มถ้ามี class rotate
        

        .nav-link{
          white-space: break-spaces;
          color: #000;
          padding: 0 !important;
          //ปุ่ม toggle
          &.dropdown-toggle{
            position: relative;
            &:after{
              //ทำให้ปุ่มไปอยู่ด้านขวาโดยการใช้ position right
              content: "\F282";
              font-family: "bootstrap-icons";
              color: $Primary;
              font-weight: 600;
              vertical-align: middle;
              position:absolute;
              right: 5px;
              // transform: scale(1.5);
              border: none!important;
              vertical-align: 0; 
              //ใส่ effect
              transition: .2s ease-in;
              margin-left: 0 !important;

            }
          }

          //navlink ที่มี class rotate rotate ถ้ามี class rotate
          // &.rotate{
          //   &::after{
          //     rotate: (180deg);
          //   }
          // }
        }
      }
    }

    .rotate{
      &::after{
        transform: rotate(180deg);
      }
    }
  }

  //sidebar show
  &.show{
    // opacity: 1;
    transform: translateY(0);
    box-shadow: 5px 0 12px #0002;

  }

  

} 
