@import '../variable';

.navbar-header{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  transition: background  1s ease;

  

  border-bottom: 1px solid $White;
  margin: 0px $margin-header-lr 0px $margin-header-lr; 

  @media (max-width:1200px) {
    margin: 0px;
    padding: .5rem 15px;
  }

  .navbar-toggler{
    border: none;
    outline: none;

    &:focus{
      border: none;
      outline: none;
      box-shadow: none;
    }

    .navbar-toggler-custom{
      display: block;
      margin-bottom: 5px;
      position: relative;
      background: $White;
      border-radius: 3px;  
      z-index: 1;
      height: 4px;
      &.navbar-toggler-icon-1{        
        width: 30px;
      }
      &.navbar-toggler-icon-2{
        width: 15px;
      }
      &.navbar-toggler-icon-3{
        width: 25px;
      }
    }
  }

  .navbar-header-1{
    
  }

  .navbar-header-2{
      .nav-item{
        margin-right: 1rem;
        .nav-link{
          font-family: Kanit;
          font-size: 14px;
          font-weight: 300;
          line-height: 22px;
          letter-spacing: 0em;
          text-align: center;
          color: $White !important;
          &.dropdown-toggle{
            &::after{
              content: url('../images/Down.png');
              border: 0;
              vertical-align: 0;
            }
          }

          &.active{
            background-color:  $Primary !important;
          }
        }
      }
  }


  .navbar-header-3{
    .btn{
      width: 76px;
      height: 28px;
    }
  }

  &.fixed-top{
    position: fixed !important;
    background-color: gray;
    border: gray;
    margin: 0;
  }

}


