@import '../keyframes';

.skeleton{
  text-align: left;
  animation: skeleton-loading 0.2s linear infinite alternate;
  &-text{
    width: 100px;
    height: 0.7rem;
    border-radius: 0.25rem;
  }

  &-footer{
    width: 300px;
    text-align: right;
    margin-left: auto;
  }
}


@include skeleton-loading;








