@import '../variable';
@import '../mixin';

.text-KKP{
  font-family: Timeless;
  font-size: 32px;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 0px;
  text-align: left;
  color: $Primary;
}

.text-title{

  @include defaultFont;
  font-size: 32px;
  font-weight: 600;
  line-height: 42px;
  letter-spacing: 0px;
  text-align: left;
  color: $Grey80;

}

.text-description{
  //styleName: Body L-regular;
  @include defaultFont;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  color: $Grey50;

  @media (max-width:480px) {
  }

}

.text-footer{
  //styleName: Body L-regular;
  @include defaultFont;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  color: $Primary;
  cursor: pointer;
}

.text-title2{
  @include defaultFont;
  font-size: 24px;
  font-weight: 400;
  line-height: 42px;
  letter-spacing: 0px;
  text-align: left;

}


.text-link{
  //styleName: Body M-regular;
  @include defaultFont;
  font-size: 16px;
  font-weight: 400;
  line-height: 42px;
  letter-spacing: 0px;
  text-align: left;
  color: #756897;
  cursor: pointer;
}

.text-footer{
  display: flex;
  align-items: center;
  &::after{
    content: "\F138";
    font-family: "bootstrap-icons";
    margin-left: 20px;
    color: $Light-Blue;
    font-weight: 600;
    
  }
}

.text-about{
  //styleName: H3-medium;
  font-family: Kanit;
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0px;
  text-align: left;
  color: $Primary;
}

.text-structure{
  font-family: Kanit;
  font-size: 32px;
  font-weight: 500;
  line-height: 42px;
  letter-spacing: 0px;
  text-align: left;

}

.text-percent{
  font-family: Timeless;
  font-size: 44px;
  font-weight: 700;
  line-height: 54px;
  letter-spacing: 0px;
  text-align: right;
  color: #009BC9;
 

}