@import '../variable';

.white-box-left{
  width: 229px;
  height: 46px;

  @media (max-width: $breakpoint-sm) {
    width: 180px;
    height: 45px;
  }

  background-color: $White;
  border: none;
  outline: none;
  position: absolute;
  left: 0;
  bottom: 0;
}
