.font-card{
  font-family: 'Kanit';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  padding-left: 0 ;
 
}

.card-hori{
  position: relative;
  overflow: hidden;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border: none;
  width: 100%;

  .card-image{
    .image{
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      transition: all .3s ease-in-out;
      padding-top: 100%;
    }
  }

  .card-body{
    position: absolute; 

    bottom: 0;
    left: 0;
    z-index: 10;
    padding-bottom: .25rem;    

    .card-title{
      color :#3D3C3E;
      z-index: 9;
      margin: 0;
    }
  }

  .card-overlay{
    position: absolute;
    bottom: 0;
    right: 0;
    top: 0;
    left: 0;
    z-index: 4;
    background: linear-gradient(0deg, rgba(255,255,255,1) 8%, rgba(255,255,255,0.9363095580028886) 19%, rgba(255,255,255,0.8410714627647934) 25%, rgba(246,242,242,0) 48%);
  }

  &:hover{
    .card-image{
      .image{
        transform: scale(1.1);
      }
    }
  }
}

.card-ver{
  
  background-color: transparent;
  .card-body{
    padding: 0;
  }

  .card-title{
    font-family: 'Kanit';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 42px;
    color: #3D3C3E;
  }
  
  .card-text{
    font-family: 'Kanit';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #84848F;
  }

  .card-contact{
 

    font-family: Kanit;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;

    margin: 0;
    .text-special{
      font-family: 'Kanit';
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 22px;
      color: #9385B8;
    }
  }
}

$widthBg:100%;
$heightBg:100%;

.bg-card-80{
  width: $widthBg;
  height: $heightBg;
  background: linear-gradient(90deg, #F8F8FB 85%, #FFF 70%);
  @media (max-width:768px) {
      background: #F8F8F8;
  }
}

.bg-card-100{
  width: $widthBg;
  height: $heightBg;
  background: #F8F8FB;
}

.bg-none{
  width: $widthBg;
  height: $heightBg;
  background: none;
}


.KKP{
  font-family: Timeless;
  font-size: 32px;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 0px;
  text-align: left;
  color: #756897;
}
.font-row{
  
  .text-welcome{
    font-family: Kanit;
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    letter-spacing: 0px;
    text-align: left;

  }
  
  .text-welcome2{
    //styleName: Body L-regular;
    font-family: Kanit;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    color: #84848F;
    @media (max-width:768px) {
      padding-top: 2rem;
    }
  }

  .hori-under{
    position: relative;
    &::after{
      content: url('./Line\ 762.png');
      position: absolute;
      @media(max-width:768px){
        display: none;
      }

      @media (min-width:992px) {
        bottom: -30px;
        left: 44px;
        transform: scale(1.2);
      }
    }
  }

  @media (max-width:992px) {
    .card-right{
      padding-top: 10px !important;

    }
  }
}


.p-content{
  padding: 1rem 0;

  @media (min-width:576px) {
    padding: 1.25rem 0;
  }
  @media (min-width:769px) {
    padding: 3rem 0;
  }
}
