.font-card {
  font-family: "Kanit";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  padding-left: 0;
}

.card-hori {
  position: relative;
  overflow: hidden;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border: none;
  width: 100%;
}
.card-hori .card-image .image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 0.3s ease-in-out;
  padding-top: 100%;
}
.card-hori .card-body {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 10;
  padding-bottom: 0.25rem;
}
.card-hori .card-body .card-title {
  color: #3D3C3E;
  z-index: 9;
  margin: 0;
}
.card-hori .card-overlay {
  position: absolute;
  bottom: 0;
  right: 0;
  top: 0;
  left: 0;
  z-index: 4;
  background: linear-gradient(0deg, rgb(255, 255, 255) 8%, rgba(255, 255, 255, 0.936309558) 19%, rgba(255, 255, 255, 0.8410714628) 25%, rgba(246, 242, 242, 0) 48%);
}
.card-hori:hover .card-image .image {
  transform: scale(1.1);
}

.card-ver {
  background-color: transparent;
}
.card-ver .card-body {
  padding: 0;
}
.card-ver .card-title {
  font-family: "Kanit";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 42px;
  color: #3D3C3E;
}
.card-ver .card-text {
  font-family: "Kanit";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #84848F;
}
.card-ver .card-contact {
  font-family: Kanit;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  margin: 0;
}
.card-ver .card-contact .text-special {
  font-family: "Kanit";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #9385B8;
}

.bg-card-80 {
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #F8F8FB 85%, #FFF 70%);
}
@media (max-width: 768px) {
  .bg-card-80 {
    background: #F8F8F8;
  }
}

.bg-card-100 {
  width: 100%;
  height: 100%;
  background: #F8F8FB;
}

.bg-none {
  width: 100%;
  height: 100%;
  background: none;
}

.KKP {
  font-family: Timeless;
  font-size: 32px;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 0px;
  text-align: left;
  color: #756897;
}

.font-row .text-welcome {
  font-family: Kanit;
  font-size: 32px;
  font-weight: 500;
  line-height: 42px;
  letter-spacing: 0px;
  text-align: left;
}
.font-row .text-welcome2 {
  font-family: Kanit;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  color: #84848F;
}
@media (max-width: 768px) {
  .font-row .text-welcome2 {
    padding-top: 2rem;
  }
}
.font-row .hori-under {
  position: relative;
}
.font-row .hori-under::after {
  content: url("./Line 762.png");
  position: absolute;
}
@media (max-width: 768px) {
  .font-row .hori-under::after {
    display: none;
  }
}
@media (min-width: 992px) {
  .font-row .hori-under::after {
    bottom: -30px;
    left: 44px;
    transform: scale(1.2);
  }
}
@media (max-width: 992px) {
  .font-row .card-right {
    padding-top: 10px !important;
  }
}

.p-content {
  padding: 1rem 0;
}
@media (min-width: 576px) {
  .p-content {
    padding: 1.25rem 0;
  }
}
@media (min-width: 769px) {
  .p-content {
    padding: 3rem 0;
  }
}/*# sourceMappingURL=card.css.map */