

.card-expand-container {
  display: flex;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  .card-image {
    position: relative;
    overflow: hidden;
    margin: 0 2px;
    flex: 0.33333333333;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    /*16:9*/
    padding-top: 56.25%;

    // height: 700px;
    opacity: .85;
    //?transition
    // transition: flex .7s ease-in;
      //! font
      .card-title{
        font-family: Kanit;
        font-size: 24px;
        font-weight: 500;
        line-height: 36px;
        letter-spacing: 0px;
        text-align: left;
        color: #FFF;
        padding:0 1rem;
      }
  
      .card-description{
        display: inline;
        //styleName: Body M-regular;
        font-family: Kanit;
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0px;
        text-align: left;
        color: #FFF;
      }
  
      .card-nav{
        display: inline;
        width: 28px;
        height: 28px;
        background-color: #F2CB88;
        margin-left: auto;
        align-self: center;
        border: 1px solid #F2CB88;
        border-radius: 4px;
        text-align: center;
        .bi-arrow-right{
            vertical-align: middle;
            // text-align: center;
            color:  #594F74;;
        }
      }
  


      //!ยุบ
    .card-content{
      //? transform
      transform: translateY(55px);
  
      //*transition
      transition: transform .2s ease-in-out;
      .card-title{
        font-family: Kanit;
        font-size: 20px;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0px;
        text-align: left;
      }

      .block-hidden-on-hover{
        //? transform
        transform: translateY(30px);
        //? opacity
        opacity: 0;
        //*transition
        transition: all 3s ease;
      }
      .text-hidden-on-hover{
        //? opacity
        opacity: 0;
        display: none;
       
      }
    }
  
    //!ขยาย
    &.active{
      flex: 1;
      .card-content{
        //? transform
        transform: translateY(0px);
    
        height: auto;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 30px;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        // background-color: red;
        padding:20px 0;
        border-bottom: 1px solid #FFF;
        border-width: 2px;
        .card-title{
          padding: 0;
        }
        .block-hidden-on-hover{
        //? opacity
        opacity: 1;
        //? transform
        transform: translateY(0);
        }
        .text-hidden-on-hover{
          opacity: 1;
          display: inline-block;
        }
      }

    }

    
    &::after{
      position: absolute;
      content: "";
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: linear-gradient(180deg, rgba(55, 56, 96, 0) 48.45%, #1F2841 100%), rgba(181, 167, 180, 0);
      z-index: -1;
    }
  }
}

.aboutme{
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  @media (max-width:768px) {
    width: 100%;
  }
  @media (min-width:768px) and (max-width:1024px) {
      width: 90%;
  }
}

.above-card-expand{
  padding: 0 0 1rem 0;
  //!font
  .flex-item{
    &:first-child{
      position: relative;
      font-family: Kanit;
        font-size: 32px;
        font-weight: 600;
        line-height: 42px;
        letter-spacing: 0px;
        text-align: left;
        color: #3D3C3E;
        &::after{
          position: absolute;
          content: url('./Line\ 762.png');
          @media (max-width:1024px) {
            bottom: -15px;
            left: 0;
          }

          @media (min-width:1024px) {
            bottom: -10px;
            left: 50%;
            transform: scale(1.2) translateX(-60%);
          }
        }
    }
    &:nth-child(2){
      font-family: Kanit;
        font-size: 18px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0px;
        text-align: left;
        color: #84848F;
    }
  }

  //!resize
  @media (max-width:1024px) {
    flex-direction: column;
    .flex-item{
      &:first-child{
        flex: 1;
      }
      &:nth-child(2){
        flex: 1;
        padding-top: 1rem;
      }
    }
  }

  //!resize
  @media (min-width:1024px) {
    .flex-item{
      &:first-child{
        flex:0.3;  
      }
      &:nth-child(2){
        flex:0.7;
        padding-top: 0;
      }
    }
  }


}


.card-expand-mobile{
  width: 100%;
  margin-left: unset;
  margin-right: unset;
  .card-image{
    flex:1;
    padding-top: 100%;
    .card-content{

      padding:12px 12px;
      width: 100%;
      position: absolute;
      bottom: 5px;
      left: 0;
      transform: translateY(0);
      
      transition: none;

      .card-nav{
        margin-top: auto;
      }

      .card-title{
        font-family: Kanit;
        font-size: 20px;
        font-weight: 500;
        line-height: 30px;
        letter-spacing: 0px;
        text-align: left;
        padding:0;
      }

      .card-description{
        font-family: Kanit;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0px;
        text-align: left;

      }

      .block-hidden-on-hover {
        transform: translateY(0);
        opacity: 1;
        transition: none;
        border-bottom: 1px solid #FFF;
        border-width: 2px;
        padding-bottom: 1rem;
      }
    }


  }
}


