@import 'swiper.css';
@import url("https://fonts.googleapis.com/css2?family=Kanit&display=swap");
body {
  overflow-x: hidden;
}

.navbar {
  box-shadow: 0px 4px 4px 0px rgba(120, 102, 169, 0.1019607843);
  font-family: "Kanit", sans-serif;
  font-size: 14px;
  background-color: #FFFFFF !important;
}
.navbar .navbar-nav .nav-item .nav-link {
  color: #000000 !important;
}
.navbar .navbar-nav .nav-item .nav-link.dropdown-toggle:after {
  border: none !important;
  content: url("down.png");
  vertical-align: 0;
}

.footer-container {
  font-family: "Tahoma";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
}
.footer-container .footer-top {
  padding: 0.5rem 1rem;
  color: #594F74;
  overflow: hidden;
  background-color: #F4F4F8;
}
.footer-container .footer-top .footer-logo {
  position: relative;
  margin-right: 1rem;
  padding-right: 1rem;
}
.footer-container .footer-top .text-address {
  position: relative;
}
.footer-container .footer-top .text-address:before {
  content: url("Line.png");
  position: absolute;
  height: 300px;
  top: -40px;
  left: -1rem;
  color: #DEE1EA;
}
@media (max-width: 568px) {
  .footer-container .footer-top .text-address:before {
    display: none;
  }
}
.footer-container .footer-copyright {
  padding: 0.5rem 1rem;
  color: #F4F4F8;
  background-color: #756897;
}
.footer-container .footer-text-kkp-call-center {
  color: #9385B8;
  font-family: "Inter";
  font-weight: 700;
  font-size: 22px;
  line-height: 22px;
}
.footer-container .footer-text-contact {
  color: #000;
  font-size: 18px;
  line-height: 22px;
}
@media (min-width: 576px) and (max-width: 835px) {
  .footer-container .footer-text-contact, .footer-container .footer-text-kkp-call-center {
    display: none;
  }
}

.vl {
  border-left: 2px solid #DEE1EA;
  height: 100%;
}

button.toggler-icon-1 {
  border: none;
  background-color: #ffffff;
  width: 38px;
  padding: 0;
}
button.toggler-icon-1 .line-1, button.toggler-icon-1 .line-2, button.toggler-icon-1 .line-3 {
  display: block;
  margin-bottom: 6px;
  position: relative;
  background: #878AC3;
  border-radius: 3px;
  z-index: 1;
  height: 4px;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
button.toggler-icon-1 .line-1 {
  width: 36px;
}
button.toggler-icon-1 .line-2 {
  width: 24px;
}
button.toggler-icon-1 .line-3 {
  width: 30px;
}
button.toggler-icon-1.open .line-1 {
  transform: rotate(45deg);
  width: 31px;
  transform-origin: left top;
}
button.toggler-icon-1.open .line-2 {
  width: 0%;
  opacity: 0;
}
button.toggler-icon-1.open .line-3 {
  transform: rotate(-45deg);
  transform-origin: left bottom;
  width: 31px;
}

.container-xl {
  max-width: 1340px !important;
}

.sidebar {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 3000;
  min-height: 100vh;
  width: 80vw;
  background: #fff;
  transition: opacity 250ms ease, transform 250ms;
  transform: translateX(-100%);
  opacity: 0;
}
.sidebar .sidebar-header {
  font-family: Kanit;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
}
.sidebar .sidebar-header ul {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 16px;
  padding-bottom: 16px;
  margin-bottom: 0 !important;
  list-style: none;
}
.sidebar .sidebar-header ul button {
  border: none;
  background-color: transparent;
}
.sidebar .sidebar-header ul li {
  margin-top: auto;
  margin-bottom: auto;
}
.sidebar .sidebar-header ul li .nav-link.dropdown-toggle {
  padding-left: 0;
  color: #000;
}
.sidebar .sidebar-header ul li .nav-link.dropdown-toggle:after {
  border: none !important;
  content: url("down.png");
  vertical-align: 0;
}
.sidebar .sidebar-header ul li .close-btn {
  padding-right: 0;
}
.sidebar .sidebar-content {
  font-family: Kanit;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
}
.sidebar .sidebar-content .navbar-nav.step2 .nav-item, .sidebar .sidebar-content .navbar-nav .step3 .nav-item {
  padding-right: 0px;
}
.sidebar .sidebar-content .navbar-nav.step3 {
  margin-top: 1rem;
}
.sidebar .sidebar-content .navbar-nav.step3 {
  border-left: 1px solid #756897;
  border-width: 2px;
}
.sidebar .sidebar-content .navbar-nav.step3 .nav-item {
  padding: 15px 15px;
}
.sidebar .sidebar-content .navbar-nav.step3 .nav-item .nav-link {
  padding: 0;
}
.sidebar .sidebar-content .navbar-nav .nav-item {
  padding: 20px 15px;
}
.sidebar .sidebar-content .navbar-nav .nav-item.active {
  background-color: #F4F4F8;
}
.sidebar .sidebar-content .navbar-nav .nav-item.active .lv1 {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}
.sidebar .sidebar-content .navbar-nav .nav-item.active .lv1::before {
  content: "";
  position: absolute;
  height: 2px;
  top: 100%;
  left: 0;
  right: 15px;
  width: 100%;
  background-color: #878AC3;
}
.sidebar .sidebar-content .navbar-nav .nav-item .nav-link {
  white-space: break-spaces;
  color: #000;
  padding: 0 !important;
}
.sidebar .sidebar-content .navbar-nav .nav-item .nav-link.dropdown-toggle {
  position: relative;
}
.sidebar .sidebar-content .navbar-nav .nav-item .nav-link.dropdown-toggle:after {
  position: absolute;
  right: 5px;
  transform: scale(1.5);
  border: none !important;
  content: url("down.png");
  vertical-align: 0;
  transition: 0.2s ease-in;
  margin-left: 0 !important;
}
.sidebar .sidebar-content .navbar-nav .nav-item .nav-link.rotate::after {
  rotate: 180deg;
}
.sidebar.show {
  opacity: 1;
  transform: translateX(0);
  box-shadow: 5px 0 12px rgba(0, 0, 0, 0.1333333333);
}

#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2000;
  cursor: pointer;
}/*# sourceMappingURL=style.css.map */