@import 'swiper.css';

//Primary
$primary:#878AC3;
$primary-dark:#594F74;
$primary-light02:#B0BCE0;
$primary-light01:#DEE1EA;
//Neutural
$grey:#84848F ;
$dark-grey:#3D3C3E;
$light-grey:#ADACB9;
$white:#FFFFFF;
$bg01:#F8F8F8;
$bg02:#F5F6F9;
$black:#000000;

//font
@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');


//padding
$padding-nav: .5rem 1rem; 
$padding-li-lr: 15px;
$padding-li-tb: 20px;

$padding-left-ul-lv1: 0px;
$padding-left-ul-lv23: 40px;
$padding-navlink:15px;
$height-line:2px;


body{
  overflow-x: hidden;
}

.navbar {
  box-shadow: 0px 4px 4px 0px #7866A91A;
  font-family: 'Kanit', sans-serif;
  font-size: 14px;  
  background-color: $white !important;
  .navbar-nav{
    .nav-item{
      .nav-link{
        color: $black !important;
        //เปลื่ยน dropdown toggler
        &.dropdown-toggle{
          &:after{
            border: none!important;
            content: url('down.png');
            vertical-align: 0; 
          }
        }
      }
    }
  }
}

.footer-container{
  font-family: 'Tahoma';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  .footer-top{
    padding: $padding-nav;
    color: #594F74;
    overflow: hidden;
    background-color: #F4F4F8;
    .footer-logo{
      position: relative;
      margin-right: 1rem;
      padding-right: 1rem;
    
    }

    .text-address{
      position: relative;
      &:before{
        content: url('Line.png');
        position: absolute;
        height: 300px;
        top: -40px;
        left: -1rem;
        color: #DEE1EA;
        @media (max-width:568px) {
          display: none;
        }
      }
    }
  }
  .footer-copyright{
    padding:$padding-nav;
    color: #F4F4F8;
    background-color: #756897;
  }

  .footer-text-kkp-call-center{
    color: #9385B8;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;


  }

  .footer-text-contact{
    color: #000;
    font-size: 18px;
    line-height: 22px;
  }
  //ปิด Contact กรณ๊ความกว้าง = 
  @media (min-width:576px) and (max-width:835px) {
    .footer-text-contact,.footer-text-kkp-call-center{
      display: none;
    }
  }
}

//เส้นกั้น footer
.vl {
  border-left: 2px solid #DEE1EA;
  height: 100%;
}


//ปุ่มเปิด - ปุ่มปิด toggler icon
button.toggler-icon-1{
  border:none;
  background-color: #ffffff;
  width: 38px;
  padding: 0;
  .line-1,.line-2,.line-3{
    display: block;
    margin-bottom: 6px;
    position: relative;
    background: $primary;
    border-radius: 3px;
    z-index: 1;
    height: 4px;
    transition: .5s ease-in-out;
    cursor: pointer;
  }
  .line-1{
    width: 36px;
  }
  .line-2{
    width: 24px;
  }
  .line-3{
    width: 30px;
  }

  //มี class open (ทำให้ปุ่มเป็นกปุ่มปิด)
  &.open{
    .line-1{
      transform: rotate(45deg);
      width: 31px;
      transform-origin: left top;
    }
    .line-2{
      width: 0%;
      opacity: 0;
    }
    .line-3{
      // width: 17px;
      transform: rotate(-45deg);
      transform-origin: left bottom;
      width: 31px;
    }
  }
}

.container-xl{
  max-width: 1340px !important;
}




//side navbar สำหรับ Mobile
.sidebar {
  position: absolute;
  top: 0px;
  left: 0px;
  // inset: 0; 
  z-index: 3000;
  min-height: 100vh;
  width: 80vw;
  background: #fff;
  transition: opacity 250ms ease, transform 250ms;
  //hide
  transform: translateX(-100%);
  opacity: 0;


  .sidebar-header{
    font-family: Kanit;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;


    ul{
      padding-left: $padding-li-lr;
      padding-right: $padding-li-lr;
      padding-top: 16px;
      padding-bottom: 16px;
      margin-bottom: 0 !important;

      list-style: none;
      button{
        border: none;
        background-color: transparent;
      }
      li{
          margin-top: auto;
          margin-bottom: auto;
        //ตัวเปลื่ยนภาษา
        .nav-link.dropdown-toggle{
          padding-left: 0;
          color: #000;
          &:after{
            border: none!important;
            content: url('down.png');
            vertical-align: 0; 
          }
        }
        //ปุ่มปิด
        .close-btn{
          padding-right: 0;
        }

        
      }
    }
  }

  //content
  .sidebar-content{
    font-family: Kanit;
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    
    .navbar-nav{
      &.step2,.step3{
        .nav-item{
          padding-right: 0px;
        }
      }

      &.step3{
        margin-top: 1rem;
      }

      &.step3{
        border-left: 1px solid #756897;
        border-width: $height-line;

        .nav-item{
          padding: 15px 15px;
          .nav-link{
            padding: 0;
          }
        }
      }
      .nav-item{ 
        //li
        padding:$padding-li-tb $padding-li-lr;
        &.active{
          background-color: #F4F4F8;
             //ขีดเส้นใต้ tag a ตัวแรก หาก active
              .lv1{
                padding-top: 10px !important;
                padding-bottom: 10px !important;
                &::before{
                  content: "";
                  position: absolute;
                  height: $height-line;
                  top: 100%;
                  left: 0;
                  right: $padding-navlink;
                  // width: calc(100%-15px);
                  width: 100%;
                  background-color: $primary;
                }
              }

             
        }

        //rotate nav-link ปุ่มถ้ามี class rotate
        

        .nav-link{
          white-space: break-spaces;
          color: #000;
          padding: 0 !important;
          //ปุ่ม toggle
          &.dropdown-toggle{
            position: relative;
            &:after{
              //ทำให้ปุ่มไปอยู่ด้านขวาโดยการใช้ position right
              position:absolute;
              right: 5px;
              transform: scale(1.5);
              border: none!important;
              content: url('down.png');
              vertical-align: 0; 
              //ใส่ effect
              transition: .2s ease-in;
              margin-left: 0 !important;

            }
          }

          //rotate ถ้ามี class rotate
          &.rotate{
            &::after{
              rotate: (180deg);
            }
          }
        }
      }
    }
  }

  //sidebar show
  &.show{
    opacity: 1;
    transform: translateX(0);
    box-shadow: 5px 0 12px #0002;

  }

} 

#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2000;
  cursor: pointer;
}

