@import '../variable';
@import '../mixin';

.width-control{

  @media (max-width: $breakpoint-lg) {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }


  @media (min-width: $breakpoint-lg) {
    width: 90%; 
    margin-left: auto; 
    margin-right:auto;
  }
}

.row-one-container{
  @include mobile{
    position: unset;
  }
  @include ipad{
    position: relative;
  }
}

.row-two-container{
  @include mobile{
    position: relative;
    overflow: scroll;
    width: 100vw;
  }

}