@import url("https://fonts.googleapis.com/css2?family=Mali&family=Prompt&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit&display=swap");
@media (max-width: 992px) {
  .width-control {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 992px) {
  .width-control {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 0) and (max-width: 468px) {
  .row-one-container {
    position: unset;
  }
}
@media (min-width: 768px) {
  .row-one-container {
    position: relative;
  }
}

@media (min-width: 0) and (max-width: 468px) {
  .row-two-container {
    position: relative;
    overflow: scroll;
    width: 100vw;
  }
}

.text-KKP {
  font-family: Timeless;
  font-size: 32px;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 0px;
  text-align: left;
  color: #594F74;
}

.text-title {
  font-family: "Kanit";
  font-style: normal;
  font-size: 32px;
  font-weight: 600;
  line-height: 42px;
  letter-spacing: 0px;
  text-align: left;
  color: #3D3C3E;
}

.text-description {
  font-family: "Kanit";
  font-style: normal;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  color: #84848F;
}
.text-footer {
  font-family: "Kanit";
  font-style: normal;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  color: #594F74;
  cursor: pointer;
}

.text-title2 {
  font-family: "Kanit";
  font-style: normal;
  font-size: 24px;
  font-weight: 400;
  line-height: 42px;
  letter-spacing: 0px;
  text-align: left;
}

.text-link {
  font-family: "Kanit";
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  line-height: 42px;
  letter-spacing: 0px;
  text-align: left;
  color: #756897;
  cursor: pointer;
}

.text-footer {
  display: flex;
  align-items: center;
}
.text-footer::after {
  content: "\f138";
  font-family: "bootstrap-icons";
  margin-left: 20px;
  color: #F2CB88;
  font-weight: 600;
}

.text-about {
  font-family: Kanit;
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0px;
  text-align: left;
  color: #594F74;
}

.text-structure {
  font-family: Kanit;
  font-size: 32px;
  font-weight: 500;
  line-height: 42px;
  letter-spacing: 0px;
  text-align: left;
}

.text-percent {
  font-family: Timeless;
  font-size: 44px;
  font-weight: 700;
  line-height: 54px;
  letter-spacing: 0px;
  text-align: right;
  color: #009BC9;
}

.btn {
  font-family: "Kanit";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  border: none;
  color: #594F74 !important;
}

.btn-yellow {
  background-color: #F2CB88 !important;
}

.btn-balloon {
  height: 44px;
  width: 194px;
  left: 860px;
  top: 915px;
  border-radius: 22px;
  background: linear-gradient(270deg, #6C68A6 0%, #564979 100%);
  color: #FFF !important;
}
.btn-balloon::after {
  flex: 1;
  margin-left: 5px;
  color: #FFF !important;
  text-align: right;
}

.border-bottom-gradient {
  border-bottom: 10px solid;
  border-image-slice: 1;
  border-width: 5px;
}

.border-gradient-purple {
  border-image-source: linear-gradient(82deg, rgb(177, 182, 215) 30%, rgb(233, 236, 245) 70%);
}

.bg-80 {
  background: linear-gradient(90deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 50%, #F8F8FB 50%, #F8F8FB 100%);
}

@media (max-width: 992px) {
  .bg-row {
    background: #F8F8F8;
  }
}

.bg {
  background: #F8F8F8;
}

@media (min-width: 1200px) {
  .bg-bottom-50 {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 50%, #F4F4FB 50%, rgba(248, 248, 251, 0) 100%);
  }
}

.bg-primary {
  background: linear-gradient(0deg, #FFFFFF 0%, #EDEEFD 101.47%);
}

.card-hori {
  display: flex;
  padding: 20px 0;
  cursor: default;
}
@media (max-width: 992px) {
  .card-hori {
    margin-top: 15px;
    border-bottom: 1px solid linear-gradient(82deg, rgb(177, 182, 215) 30%, rgb(233, 236, 245) 70%);
    box-shadow: 2px 10px 14px 0px rgba(0, 42, 91, 0.1411764706);
    background: linear-gradient(90deg, #FFFFFF 0%, rgba(255, 255, 255, 0.1) 74.9%);
  }
  .card-hori .left {
    flex: 0.2;
    text-align: center;
    align-self: center;
  }
  .card-hori .center {
    flex: 0.6;
    text-align: left;
  }
  .card-hori .center span:nth-child(1) {
    font-family: "Kanit";
    font-style: normal;
    color: #3D3C3E;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    display: block;
  }
  .card-hori .right {
    flex: 0.2;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .card-hori .right .navigation {
    opacity: 1;
  }
}
@media (min-width: 992px) {
  .card-hori {
    border: 1px solid transparent;
  }
  .card-hori .left {
    flex: 0.3;
    text-align: center;
  }
  .card-hori .center {
    flex: 0.4;
    display: flex;
    flex-direction: column;
  }
  .card-hori .right {
    flex: 0.3;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .card-hori .right .navigation {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    cursor: pointer;
  }
  .card-hori:hover {
    border: 1px solid;
    border-image-source: linear-gradient(270deg, #E9ECF5 0%, #B1B6D7 100%);
    box-shadow: 2px 10px 14px 0px rgba(0, 42, 91, 0.1411764706);
    background: linear-gradient(90deg, #FFFFFF 0%, rgba(255, 255, 255, 0.1) 74.9%);
  }
  .card-hori:hover .navigation {
    opacity: 1;
  }
}

.card-vertical {
  background-color: #FFF;
  display: flex;
}
.card-vertical .right {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: #FFF;
}
@media (max-width: 768px) {
  .card-vertical .right {
    padding: 10px 15px;
  }
}
@media (max-width: 768px) {
  .card-vertical {
    flex-direction: column;
  }
}

.courousel-container {
  position: relative;
}
.courousel-container .swiper .swiper-button-prev {
  color: transparent;
}
.courousel-container .swiper .swiper-button-prev::after {
  background-image: url("../images/left-courousel.png");
  background-repeat: no-repeat;
  background-position: center;
  transform: scale(1.4);
}
@media (max-width: 468px) {
  .courousel-container .swiper .swiper-button-prev {
    display: none;
  }
}
.courousel-container .swiper .swiper-button-next {
  color: transparent;
}
.courousel-container .swiper .swiper-button-next::after {
  background-image: url("../images/right-courousel.png");
  background-repeat: no-repeat;
  background-position: center;
  transform: scale(1.4);
}
@media (max-width: 468px) {
  .courousel-container .swiper .swiper-button-next {
    display: none;
  }
}
.courousel-container .swiper .img {
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 600px;
}
@media (max-width: 468px) {
  .courousel-container .swiper .img {
    height: 400px;
  }
}
.courousel-container .swiper .img .text-container {
  position: absolute;
  left: 50%;
  bottom: 111px;
  font-family: Timeless;
  text-align: left;
  color: #FFF;
}
@media (max-width: 468px) {
  .courousel-container .swiper .img .text-container {
    left: 0;
    right: 0;
    margin-left: 25%;
    bottom: 85px;
  }
}
.courousel-container .swiper .img .text-container .text-title1 {
  font-size: 46px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 3px;
}
@media (max-width: 468px) {
  .courousel-container .swiper .img .text-container .text-title1 {
    font-size: 30px;
    line-height: 40px;
  }
}
.courousel-container .swiper .img .text-container .text-title2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 0px;
  margin-top: 30px;
}
@media (max-width: 468px) {
  .courousel-container .swiper .img .text-container .text-title2 {
    font-size: 12px;
    line-height: 25px;
  }
}
.courousel-container .swiper .img .text-container .text-title3 {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
}
@media (max-width: 468px) {
  .courousel-container .swiper .img .text-container .text-title3 {
    font-size: 10px;
  }
}
.courousel-container .swiper .img .white-box {
  width: 666px;
  height: 60px;
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #FFF;
}
@media (min-width: 468px) {
  .courousel-container .swiper .img .white-box {
    width: 300px;
  }
}
@media (max-width: 992px) {
  .courousel-container .swiper .img .white-box {
    width: 300px;
  }
}
@media (min-width: 468px) and (max-width: 992px) {
  .courousel-container .swiper .img .white-box {
    width: 300px;
  }
}
@media (max-width: 468px) {
  .courousel-container .swiper .img .white-box {
    width: 176px;
    height: 30px;
  }
}
.courousel-container .swiper .pagination-container {
  position: absolute;
  left: 16px;
  bottom: 22px;
  width: 100%;
  display: flex;
}
@media (max-width: 468px) {
  .courousel-container .swiper .pagination-container {
    bottom: 5px;
    left: 20px;
  }
}
.courousel-container .swiper .pagination-container .swiper-pagination-fraction {
  font-family: Timeless;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0px;
  text-align: center;
  color: #FFF;
  position: relative;
  z-index: 3;
  text-align: left;
  width: fit-content;
  vertical-align: middle;
  display: inline-block;
  vertical-align: middle;
  margin-left: 20px;
  margin-top: 8px;
}
@media (max-width: 468px) {
  .courousel-container .swiper .pagination-container .swiper-pagination-fraction {
    margin-left: 10px;
    margin-top: 5px;
  }
}
.courousel-container .swiper .pagination-container .swiper-pagination {
  width: fit-content;
  position: relative;
  text-align: left;
}
@media (max-width: 468px) {
  .courousel-container .swiper .pagination-container .swiper-pagination {
    width: 48px;
    height: 3px;
    background: rgba(231, 229, 255, 0.2);
  }
}
.courousel-container .swiper .pagination-container .swiper-pagination-progressbar-fill {
  background: rgb(231, 229, 255);
  z-index: 7000;
}
.courousel-container .swiper .swiper-pagination-bullet {
  position: relative;
  width: 48px;
  text-align: left;
  border-radius: 0;
  opacity: 1;
  background: transparent;
}
.courousel-container .swiper .swiper-pagination-bullet i {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  height: 2px;
  background-color: #FFF;
  opacity: 0.35;
}
.courousel-container .swiper .swiper-pagination-bullet b {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
  width: 0%;
  height: 2px;
  background-color: #FFF;
}
.courousel-container .swiper .swiper-pagination-bullet-active {
  background-color: transparent;
}
.courousel-container .swiper .swiper-pagination-bullet-active b {
  animation-name: countingBar;
  animation-duration: 3s;
  animation-timing-function: ease-in;
  animation-iteration-count: 1;
  animation-direction: alternate;
  animation-fill-mode: forwards;
}
@keyframes countingBar {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.card-expand-container {
  display: flex;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  height: 700px;
}
@media (max-width: 468px) {
  .card-expand-container {
    height: 300px;
  }
}
.card-expand-container .card-image {
  position: relative;
  overflow: hidden;
  margin: 0 2px;
  flex: 0.3333333333;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  /*16:9*/
  padding-top: 56.25%;
  opacity: 0.85;
  transition: flex 0.3s ease-in;
}
.card-expand-container .card-image .card-title {
  font-family: "Kanit";
  font-style: normal;
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  letter-spacing: 0px;
  text-align: left;
  color: #FFF;
  padding: 0 1rem;
}
.card-expand-container .card-image .card-description {
  display: inline;
  font-family: "Kanit";
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
  color: #FFF;
  margin-top: 2px;
}
.card-expand-container .card-image .card-nav {
  display: inline;
  width: 28px;
  height: 28px;
  background-color: #F2CB88;
  margin-left: auto;
  align-self: center;
  border: 1px solid #F2CB88;
  border-radius: 4px;
  text-align: center;
}
.card-expand-container .card-image .card-nav .bi-arrow-right {
  color: #594F74;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.card-expand-container .card-image .card-content {
  -webkit-transform: translateY(-20px);
  -moz-transform: translateY(-20px);
  -ms-transform: translateY(-20px);
  -o-transform: translateY(-20px);
  transform: translateY(-20px);
  -webkit-transition: transform 0.2s ease-in-out;
  -moz-transition: transform 0.2s ease-in-out;
  -ms-transition: transform 0.2s ease-in-out;
  -o-transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
}
@media (min-width: 768px) and (max-width: 1400px) {
  .card-expand-container .card-image .card-content {
    -webkit-transform: translateY(70px);
    -moz-transform: translateY(70px);
    -ms-transform: translateY(70px);
    -o-transform: translateY(70px);
    transform: translateY(70px);
  }
}
.card-expand-container .card-image .card-content .card-title {
  font-family: "Kanit";
  font-style: normal;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0px;
  text-align: left;
}
.card-expand-container .card-image .card-content .block-hidden-on-hover {
  -webkit-transform: translateY(30px);
  -moz-transform: translateY(30px);
  -ms-transform: translateY(30px);
  -o-transform: translateY(30px);
  transform: translateY(30px);
  opacity: 0;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
.card-expand-container .card-image .card-content .text-hidden-on-hover {
  opacity: 0;
  display: none;
}
.card-expand-container .card-image.active {
  flex: 1;
  opacity: 1;
}
.card-expand-container .card-image.active .card-content {
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);
  transform: translateY(0px);
  height: auto;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  padding: 20px 0;
  border-bottom: 1px solid #FFF;
  border-width: 2px;
}
.card-expand-container .card-image.active .card-content .card-title {
  padding: 0;
}
.card-expand-container .card-image.active .card-content .block-hidden-on-hover {
  opacity: 1;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);
  transform: translateY(0px);
}
.card-expand-container .card-image.active .card-content .text-hidden-on-hover {
  opacity: 1;
  display: inline-block;
}
.card-expand-container .card-image::after {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(180deg, rgba(55, 56, 96, 0) 48.45%, #1F2841 100%), rgba(181, 167, 180, 0);
  z-index: -1;
}

.card-expand-mobile {
  width: 100%;
  margin-left: unset;
  margin-right: unset;
}
.card-expand-mobile .card-image {
  flex: 1;
}
.card-expand-mobile .card-image .card-content {
  padding: 12px 12px;
  width: 100%;
  position: absolute;
  bottom: 10px;
  left: 0;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}
.card-expand-mobile .card-image .card-content .card-nav {
  margin-top: auto;
}
.card-expand-mobile .card-image .card-content .card-title {
  font-family: "Kanit";
  font-style: normal;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0px;
  text-align: left;
  padding: 0;
}
.card-expand-mobile .card-image .card-content .card-description {
  font-family: "Kanit";
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
}
.card-expand-mobile .card-image .card-content .block-hidden-on-hover {
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);
  transform: translateY(0px);
  opacity: 1;
  transition: none;
  border-bottom: 1px solid #FFF;
  border-width: 2px;
  padding-bottom: 10px;
}
.card-expand-mobile .card-image .card-content .block-hidden-on-hover .card-nav {
  margin-bottom: auto;
  min-width: 30px;
}

.swiper-card-expand-mobile {
  overflow: hidden !important;
}

.hori-under-row {
  position: relative;
  padding: 0;
}
@media (max-width: 768px) {
  .hori-under-row {
    height: 50px;
  }
}
@media (min-width: 992px) {
  .hori-under-row {
    height: 100px;
    overflow: hidden;
  }
}
.hori-under-row::after {
  position: absolute;
  bottom: 40%;
}
@media (max-width: 768px) {
  .hori-under-row::after {
    content: url("../images/Line-mobile.png");
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}
@media (min-width: 992px) {
  .hori-under-row::after {
    content: url("../images/hori-under-row.png");
    left: -95px;
  }
}
@media (min-width: 1200px) {
  .hori-under-row::after {
    content: url("../images/hori-under-row.png");
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}

.hori-under {
  position: relative;
  margin-bottom: 2rem;
}
.hori-under::after {
  content: url("../images/Line 762.png");
  position: absolute;
}
@media (max-width: 768px) {
  .hori-under::after {
    bottom: -30px;
    left: 15px;
    transform: scale(1.2);
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .hori-under::after {
    bottom: -30px;
    left: 15px;
    transform: scale(1.2);
  }
}
@media (min-width: 992px) {
  .hori-under::after {
    bottom: -30px;
    left: 15px;
    transform: scale(1.2);
  }
}

.img-content {
  padding-top: 85%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;
  text-align: left;
  position: relative;
}
@media (max-width: 468px) {
  .img-content {
    background-position: center;
    background-size: cover;
  }
}

.img11 {
  width: 295px;
  height: 360px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
@media (max-width: 768px) {
  .img11 {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    background-size: cover;
  }
}

.img12 {
  position: relative;
  cursor: pointer;
  padding-top: 86.3%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.img12 .text-container {
  position: absolute;
  bottom: 25px;
  left: 25px;
}
.img12 .text-container .text-date {
  color: #FFF;
  font-family: "Kanit";
  font-style: normal;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
}
.img12 .text-container .text-context {
  color: #FFF;
  font-family: "Kanit";
  font-style: normal;
  font-size: 20px;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: left;
  margin-top: 15px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.img12 .text-container .text-readmore {
  color: #FFF;
  font-family: "Kanit";
  font-style: normal;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
  margin-top: 20px;
}

@media (max-width: 468px) {
  .logo {
    transform: scale(0.8);
  }
}

.navbar-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  transition: background 1s ease;
  border-bottom: 1px solid #FFF;
  margin: 0px 40px 0px 40px;
}
@media (max-width: 1200px) {
  .navbar-header {
    margin: 0px;
    padding: 0.5rem 15px;
  }
}
.navbar-header .navbar-toggler {
  border: none;
  outline: none;
}
.navbar-header .navbar-toggler:focus {
  border: none;
  outline: none;
  box-shadow: none;
}
.navbar-header .navbar-toggler .navbar-toggler-custom {
  display: block;
  margin-bottom: 5px;
  position: relative;
  background: #FFF;
  border-radius: 3px;
  z-index: 1;
  height: 4px;
}
.navbar-header .navbar-toggler .navbar-toggler-custom.navbar-toggler-icon-1 {
  width: 30px;
}
.navbar-header .navbar-toggler .navbar-toggler-custom.navbar-toggler-icon-2 {
  width: 15px;
}
.navbar-header .navbar-toggler .navbar-toggler-custom.navbar-toggler-icon-3 {
  width: 25px;
}
.navbar-header .navbar-header-2 .nav-item {
  margin-right: 1rem;
}
.navbar-header .navbar-header-2 .nav-item .nav-link {
  font-family: Kanit;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
  color: #FFF !important;
}
.navbar-header .navbar-header-2 .nav-item .nav-link.dropdown-toggle::after {
  content: url("../images/Down.png");
  border: 0;
  vertical-align: 0;
}
.navbar-header .navbar-header-2 .nav-item .nav-link.active {
  background-color: #594F74 !important;
}
.navbar-header .navbar-header-3 .btn {
  width: 76px;
  height: 28px;
}
.navbar-header.fixed-top {
  position: fixed !important;
  background-color: gray;
  border: gray;
  margin: 0;
}

.white-box-left {
  width: 229px;
  height: 46px;
  background-color: #FFF;
  border: none;
  outline: none;
  position: absolute;
  left: 0;
  bottom: 0;
}
@media (max-width: 468px) {
  .white-box-left {
    width: 180px;
    height: 45px;
  }
}

.footer-container {
  font-family: "Tahoma";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
}
.footer-container .footer-top {
  padding: 0.5rem 1rem;
  color: #594F74;
  overflow: hidden;
  background-color: #F4F4F8;
}
.footer-container .footer-top .footer-logo {
  position: relative;
  margin-right: 1rem;
  padding-right: 1rem;
}
.footer-container .footer-top .text-address {
  position: relative;
}
.footer-container .footer-top .text-address:before {
  content: url("../images/Line.png");
  position: absolute;
  height: 300px;
  top: -40px;
  left: -1rem;
  color: #DEE1EA;
}
@media (max-width: 568px) {
  .footer-container .footer-top .text-address:before {
    display: none;
  }
}
.footer-container .footer-copyright {
  padding: 0.5rem 1rem;
  color: #F4F4F8;
  background-color: #594F74;
}
.footer-container .footer-text-kkp-call-center {
  color: #9385B8;
  font-family: "Inter";
  font-weight: 700;
  font-size: 22px;
  line-height: 22px;
}
.footer-container .footer-text-contact {
  color: #000;
  font-size: 18px;
  line-height: 22px;
}
@media (min-width: 576px) and (max-width: 835px) {
  .footer-container .footer-text-contact, .footer-container .footer-text-kkp-call-center {
    display: none;
  }
}

.vl {
  border-left: 2px solid #DEE1EA;
  height: 100%;
}

.skeleton {
  text-align: left;
  animation: skeleton-loading 0.2s linear infinite alternate;
}
.skeleton-text {
  width: 100px;
  height: 0.7rem;
  border-radius: 0.25rem;
}
.skeleton-footer {
  width: 300px;
  text-align: right;
  margin-left: auto;
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(200deg, 20%, 80%);
  }
  100% {
    background-color: hsl(200deg, 20%, 95%);
  }
}
.dropdown-item {
  margin-top: 0.5rem;
  cursor: pointer;
  white-space: nowrap;
}

.dropdown-menu {
  border-radius: 0px;
  max-width: 400px;
  font-family: Kanit;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: #fff !important;
}
.dropdown-menu a:focus {
  background-color: transparent !important;
  color: #000;
}
.dropdown-menu a:hover {
  background-color: transparent !important;
  color: gray !important;
}

.step2 .dropdown-toggle {
  display: flex;
}
.step2 .dropdown-toggle:after {
  content: "\f282";
  font-family: "bootstrap-icons";
  color: #594F74;
  font-weight: 600;
  vertical-align: middle;
  margin-left: 20px;
  border: none !important;
  text-align: end;
  margin-left: auto;
  transition: 0.2s all ease;
}
.step2 .dropdown-toggle.rotate:after {
  transform: rotate(-180deg);
}

.step3 {
  margin-left: 1rem;
  border-left: 2px solid #594F74;
  flex-direction: column !important;
  padding-left: 0.2rem;
}

body.openSidebar {
  overflow-y: hidden;
}

.sidebar {
  position: fixed;
  overflow: auto;
  top: 0px;
  left: 0px;
  z-index: 3000;
  height: 100%;
  width: 100vw;
  background: #fff;
  overflow: hidden;
  transition: transform 0.2s ease-out;
  transform: translateY(-100%);
}
.sidebar .sidebar-header {
  font-family: Kanit;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
  transition: background 1s ease;
}
.sidebar .sidebar-header.sticky-top {
  background-color: #F4F4F8;
}
.sidebar .sidebar-header ul {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 16px;
  padding-bottom: 16px;
  margin-bottom: 0 !important;
  list-style: none;
}
.sidebar .sidebar-header ul button {
  border: none;
  background-color: transparent;
}
.sidebar .sidebar-header ul li {
  margin-top: auto;
  margin-bottom: auto;
}
.sidebar .sidebar-header ul li .nav-link.dropdown-toggle {
  padding-left: 0;
  color: #000;
}
.sidebar .sidebar-header ul li .nav-link.dropdown-toggle:after {
  content: "\f282";
  font-family: "bootstrap-icons";
  color: #594F74;
  font-weight: 600;
  vertical-align: middle;
  border: none !important;
}
.sidebar .sidebar-header ul li .close-btn {
  padding-right: 0;
}
.sidebar .sidebar-content {
  font-family: Kanit;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
  overflow: scroll;
  height: 100%;
}
.sidebar .sidebar-content .navbar-nav.step2 .nav-item, .sidebar .sidebar-content .navbar-nav .step3 .nav-item {
  padding-right: 0px;
}
.sidebar .sidebar-content .navbar-nav.step3 {
  margin-top: 1rem;
}
.sidebar .sidebar-content .navbar-nav.step3 {
  border-left: 1px solid #756897;
  border-width: 2px;
}
.sidebar .sidebar-content .navbar-nav.step3 .nav-item {
  padding: 15px 15px;
}
.sidebar .sidebar-content .navbar-nav.step3 .nav-item .nav-link {
  padding: 0;
}
.sidebar .sidebar-content .navbar-nav .nav-item {
  padding: 20px 15px;
}
.sidebar .sidebar-content .navbar-nav .nav-item.active {
  background-color: #F4F4F8;
}
.sidebar .sidebar-content .navbar-nav .nav-item.active .lv1 {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}
.sidebar .sidebar-content .navbar-nav .nav-item.active .lv1::before {
  content: "";
  position: absolute;
  height: 2px;
  top: 100%;
  left: 0;
  right: 15px;
  width: 100%;
  background-color: #594F74;
}
.sidebar .sidebar-content .navbar-nav .nav-item .nav-link {
  white-space: break-spaces;
  color: #000;
  padding: 0 !important;
}
.sidebar .sidebar-content .navbar-nav .nav-item .nav-link.dropdown-toggle {
  position: relative;
}
.sidebar .sidebar-content .navbar-nav .nav-item .nav-link.dropdown-toggle:after {
  content: "\f282";
  font-family: "bootstrap-icons";
  color: #594F74;
  font-weight: 600;
  vertical-align: middle;
  position: absolute;
  right: 5px;
  border: none !important;
  vertical-align: 0;
  transition: 0.2s ease-in;
  margin-left: 0 !important;
}
.sidebar .sidebar-content .rotate::after {
  transform: rotate(180deg);
}
.sidebar.show {
  transform: translateY(0);
  box-shadow: 5px 0 12px rgba(0, 0, 0, 0.1333333333);
}

.fakeBoxRight {
  display: none;
  background-color: transparent;
  position: absolute;
  right: -350px;
  bottom: 0;
  width: 85px;
  height: 31px;
}

.balloon, .balloon2, .balloon1 {
  position: absolute;
  width: 460px;
  height: 180px;
  border-radius: 90px;
}

.balloon1 {
  top: 55px;
  right: 230px;
  border: 5px solid #6853A3;
}
.balloon1-logo-bg, .balloon3-logo-bg, .balloon2-logo-bg {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, -50%);
  text-align: center;
  width: auto;
  background-color: #FFF;
}
.balloon1-text, .balloon3-text, .balloon2-text {
  width: 100%;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translateY(-70%) translateX(-50%);
}
.balloon1-button, .balloon3-button, .balloon2-button {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  font-family: Kanit;
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: 0px;
  text-align: left;
}

.balloon2 {
  border: 5px solid #92C5F5;
  top: 355px;
}
.balloon3 {
  position: absolute;
  width: 240px;
  height: 190px;
  top: 655px;
  left: 100px;
  border-radius: 30px;
  border: 5px solid #D9D3F2;
  flex-direction: column !important;
}
.balloon3-logo-bg {
  width: fit-content;
}
@media (min-width: 0) and (max-width: 468px) {
  .fakeBoxRight {
    display: block;
  }
  .balloon1 {
    top: 50px !important;
    left: 59%;
    transform: unset;
    width: 370px !important;
  }
  .balloon2 {
    width: 310px !important;
    top: 310px !important;
  }
  .balloon2.left {
    left: 5px !important;
  }
  .balloon2.right {
    right: -340px !important;
  }
  .balloon3 {
    top: 580px !important;
    width: 200px !important;
  }
  .balloon3.left {
    left: 12px !important;
  }
  .balloon3.center {
    left: 68% !important;
    transform: unset;
    right: unset !important;
  }
  .balloon3.right {
    left: unset !important;
    right: -305px !important;
  }
}
@media (min-width: 768px) {
  .balloon1 {
    top: 250px !important;
    left: 50%;
    transform: translateX(-50%);
    width: 370px !important;
  }
  .balloon2 {
    top: 500px !important;
  }
  .balloon2.left {
    left: 5px !important;
    width: 370px !important;
  }
  .balloon2.right {
    right: 5px !important;
    width: 370px !important;
  }
  .balloon3 {
    top: 750px !important;
  }
  .balloon3.left {
    left: 5px !important;
  }
  .balloon3.center {
    left: 50% !important;
    transform: translateX(-50%);
    right: unset !important;
  }
  .balloon3.right {
    left: unset !important;
    right: 5px !important;
  }
}
@media (min-width: 992px) {
  .balloon1 {
    top: 55px !important;
    left: unset !important;
    transform: unset !important;
    width: 460px !important;
    right: 30px !important;
  }
  .balloon2 {
    top: 355px !important;
  }
  .balloon2.left {
    left: 15px !important;
    width: 460px !important;
  }
  .balloon2.right {
    right: 15px !important;
    width: 460px !important;
  }
  .balloon3 {
    top: 655px !important;
  }
  .balloon3.left {
    left: 10px !important;
  }
  .balloon3.center {
    right: unset !important;
    transform: unset !important;
    left: 255px !important;
  }
  .balloon3.right {
    left: 500px !important;
    right: unset !important;
  }
}
@media (min-width: 1200px) {
  .balloon1 {
    right: 230px !important;
  }
  .balloon2.left {
    left: 105px !important;
  }
  .balloon3.left {
    left: -45px !important;
  }
  .balloon3.center {
    left: 200px !important;
  }
  .balloon3.right {
    left: 445px !important;
  }
}
.curve-line, .curve-step2-right::before, .curve-step2-right::after, .curve-step2-left::before, .curve-step2-left::after, .curve-step1-right::before, .curve-step1-right::after, .curve-step1-left::before, .curve-step1-left::after {
  display: inline-block;
  margin: 0;
  padding: 0;
  height: 52%;
  width: 50%;
  border: 2px solid #615B99;
}

.curve-step1-left {
  padding: 0;
  position: absolute;
  width: 520px;
  height: 85px;
  top: 242px;
  right: 460px;
}
.curve-step1-left::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0px;
  border-left: none;
  border-top: none;
  border-bottom-right-radius: 100px;
}
.curve-step1-left::before {
  content: "";
  border-right: none;
  border-bottom: none;
  border-top-left-radius: 100px;
  position: absolute;
  left: 0;
  bottom: 0;
}

.curve-step1-right {
  padding: 0;
  position: absolute;
  width: 220px;
  height: 85px;
  top: 242px;
  right: 240px;
}
.curve-step1-right::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  border-top: none;
  border-right: none;
  border-bottom-left-radius: 100px;
}
.curve-step1-right::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0px;
  border-left: none;
  border-bottom: none;
  border-top-right-radius: 100px;
}

.curve-step2-left {
  padding: 0;
  position: absolute;
  width: 240px;
  height: 85px;
  top: 550px;
  left: 90px;
}
.curve-step2-left::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0px;
  border-left: none;
  border-top: none;
  border-bottom-right-radius: 100px;
}
.curve-step2-left::before {
  content: "";
  border-right: none;
  border-bottom: none;
  border-top-left-radius: 100px;
  position: absolute;
  left: 0;
  bottom: 0;
}

.curve-step2-center {
  padding: 0;
  position: absolute;
  width: 240px;
  height: 85px;
  top: 550px;
  left: 211px;
}
.curve-step2-center::after {
  content: "";
  position: absolute;
  border: 1px solid #615B99;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
}

.curve-step2-right {
  padding: 0;
  position: absolute;
  width: 290px;
  height: 85px;
  top: 550px;
  left: 331px;
}
.curve-step2-right::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  border-top: none;
  border-right: none;
  border-bottom-left-radius: 100px;
}
.curve-step2-right::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0px;
  border-left: none;
  border-bottom: none;
  border-top-right-radius: 100px;
}

@media (min-width: 0) and (max-width: 468px) {
  .curve-step1-left {
    width: 200px;
    height: 55px;
    top: 233px;
    right: -36px;
  }
  .curve-step1-right {
    width: 170px;
    height: 55px;
    top: 235px;
    right: -205px;
  }
  .curve-step2-left {
    width: 68px;
    height: 74px;
    top: 491px;
    left: 114px;
  }
  .curve-step2-right {
    width: 568px;
    height: 75px;
    top: 491px;
    left: 251px;
  }
  .curve-step2-right::after {
    left: -70px;
    width: calc(50% + 72px);
  }
  .curve-step2-center {
    width: 235px;
    height: 36px;
    top: 528px;
    left: 228px;
  }
}
@media (min-width: 768px) {
  .curve-step1-left {
    width: 200px;
    height: 46px;
    top: 431px;
    right: 384px;
  }
  .curve-step1-right {
    width: 200px;
    height: 46px;
    top: 431px;
    right: 184px;
  }
  .curve-step2-left {
    width: 68px;
    height: 54px;
    top: 681px;
    left: 132px;
  }
  .curve-step2-right {
    width: 450px;
    height: 55px;
    top: 681px;
    left: 200px;
  }
  .curve-step2-right::after {
    left: 0;
    width: 50%;
  }
  .curve-step2-center {
    width: 235px;
    height: 29px;
    top: 708px;
    left: 279px;
  }
}
@media (min-width: 992px) {
  .curve-step1-left {
    width: 520px;
    right: 260px;
    height: 85px;
    top: 242px;
  }
  .curve-step1-right {
    width: 57px;
    right: 203px;
    height: 85px;
    top: 242px;
  }
  .curve-step2-left {
    width: 160px;
    height: 85px;
    top: 550px;
    left: 90px;
  }
  .curve-step2-right {
    width: 370px;
    height: 85px;
    top: 550px;
    left: 250px;
  }
  .curve-step2-center {
    width: 240px;
    height: 47px;
    top: 592px;
    left: 269px;
  }
}
@media (min-width: 1200px) {
  .curve-step1-left {
    width: 520px;
    right: 460px;
  }
  .curve-step1-right {
    width: 220px;
    right: 240px;
  }
  .curve-step2-left {
    width: 240px;
    left: 90px;
  }
  .curve-step2-right {
    width: 240px;
    left: 331px;
  }
  .curve-step2-center {
    height: 85px;
    top: 550px;
    width: 240px;
    left: 211px;
  }
}/*# sourceMappingURL=site.css.map */