@mixin countingBar{
  @keyframes countingBar {
    0%{width: 0%;}
    100%{width: 100%;}
  }
}

@mixin skeleton-loading{
  @keyframes skeleton-loading {
    0% {
      background-color: hsl(200, 20%, 80%);
    }
    100% {
      background-color: hsl(200, 20%, 95%);
    }
  }
}
