@import './variable';

@mixin breakpoint($minW:0 , $maxW:0){
  //min-width
  @if $minW != 0 {
    @media (min-width:$minW) {
      @content;
    }
  }

  //max-width
  @if $maxW !=0 {
    @media (max-width:$maxW) {  
      @content;
    }
  }

  //min and max
  @if $maxW !=0 and $minW !=0 {
    @media (min-width:$minW) and (max-width:$maxW) {
      @content;
    }
  }
}


@mixin mobile(){
  @media (min-width: $breakpoint-xs) and  (max-width: $breakpoint-sm) {
    @content;
  }
}

@mixin ipad(){
  @media (min-width: $breakpoint-md) {
    @content;
  }
}

@mixin tablet(){
  @media (min-width: $breakpoint-lg){
    @content;
  }
}

@mixin desktop(){
  @media (min-width: $breakpoint-xl) {
    @content;
  }
}


@mixin defaultFont(){
  font-family: 'Kanit';
  font-style: normal;
}

@mixin transition($args...){
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

@mixin transform($args...){
  -webkit-transform: $args;
  -moz-transform: $args;
  -ms-transform: $args;
  -o-transform: $args;
  transform: $args;

}


@mixin curve-line-step1-left-top($radius){
      content: '';
      position: absolute;
      right: 0;
      top: 0px;
      border-left: none;
      border-top: none;
      border-bottom-right-radius: $radius;
}

@mixin curve-line-step1-left-bottom($radius){
      content: '';
      border-right: none;
      border-bottom: none;
      border-top-left-radius: $radius;
      position: absolute;
      left: 0;
      bottom: 0;
}

@mixin curve-line-step1-right-top($radius){
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  border-top: none;
  border-right: none;
  border-bottom-left-radius: $radius;
}

@mixin curve-line-step1-right-bottom($radius){
      content: '';
  position: absolute;
  right: 0;
  bottom: 0px;
  border-left: none;
  border-bottom: none;
  border-top-right-radius: $radius;
}


@mixin curve-line-step2-top($radius){
      content: '';
    position: absolute;
    right: 0;
    top: 0px;
    border-left: none;
    border-top: none;
    border-bottom-right-radius: $radius;
}


@mixin curve-line-step2-bottom($radius){
      content: '';
    border-right: none;
    border-bottom: none;
    border-top-left-radius: $radius;
    position: absolute;
    left: 0;
    bottom: 0;
}