//palettee
$Light-Blue:#F2CB88;
$Primary:#594F74;
$White:#FFF;
$Black:#000;
$margin-header-lr: 40px;
$Grey80:#3D3C3E;
$Grey50:#84848F;
$Background-business-service: #F8F8F8;


//padding nav
$padding-nav: .5rem 1rem; 
$padding-li-lr: 15px;
$padding-li-tb: 20px;
$padding-left-ul-lv1: 0px;
$padding-left-ul-lv23: 40px;
$padding-navlink:15px;
$height-line:2px;

//Shadow
$boxShadow-cardHori: #002A5B24;

//gradient
$gradient-bg-80:                    linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 50%, #F8F8FB 50%, #F8F8FB 100%);
$gradient-bg-bottom-50:             linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 50%, #F4F4FB 50%, rgba(248, 248, 251, 0) 100%);
$gradient-border-purple:            linear-gradient(82deg, rgba(177,182,215,1) 30%, rgba(233,236,245,1) 70%);
$gradient-cardHori-border-bottom:   linear-gradient(82deg, rgba(177,182,215,1) 30%, rgba(233,236,245,1) 70%);
$gradient-cardHori:                 linear-gradient(90deg, #FFFFFF 0%, rgba(255, 255, 255, 0.1) 74.9%);
$gradient-cardExpand-overlay:       linear-gradient(180deg, rgba(55, 56, 96, 0) 48.45%, #1F2841 100%), rgba(181, 167, 180, 0);

//breakpoint
$breakpoint-xs:                                     0;
$breakpoint-sm:                                     468px; //mobile
$breakpoint-md:                                     768px; //ipad
$breakpoint-lg:                                     992px; //tablet
$breakpoint-xl:                                     1200px;//desktop
$breakpoint-xxl:                                    1600px;


